{{!-- Partial for the comment and delete button --}}
<div class="bg-white w-5/6 mx-auto shadow overflow-hidden sm:rounded-md mb-2 ">
  <ul role="list" class="divide-y divide-gray-200 ml-5">
    <li>
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center justify-between">
          <p id="{{id}}" style="text-sm font-medium text-indigo-600 truncate">
            {{body}}
          </p>
          <div>
            <button data-edit="edit" data-id="{{id}}" id="edit-post">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
              </svg>
            </button>
          </div>
        </div>
        <div class="mt-2 sm:flex sm:justify-between">
          <div class="sm:flex">
            {{!-- FUTURE DEVELOPMENT -- The username icon + text area
            <p class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0 sm:ml-6">
              <!-- Heroicon name: solid/location-marker -->
              <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                className="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fillRule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clipRule="evenodd" />
              </svg> --}}
              <button data-delete="delete" data-id="{{id}}" id="delete-post">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
              </button>
              <!-- Add Username here -->
              {{!--
            </p> --}}
          </div>
        </div>
    </li>
  </ul>
</div>